*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: #9db9d136;
  height: 100vh;
}

.heading{
  font-family: monospace, sans-serif;
  width: 300px;
  display: flex;
  justify-content: space-around;
  font-size: 2.5em;
  border-bottom: 2px solid black;
}

.heading span{
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}

.container{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  width: 300px;
  height: 350px;
  border: 1px solid #000;
  background-color: #f0f3f5;
  margin: auto;
  top: 50%;
  transform: translate(0%, -50%);
}

.boxes{
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  margin: auto;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  font-size: 2rem;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1000;
}

.btn-container{
  display: grid;
  grid-template-columns: 112px 112px;
  margin: auto;
  width: 234px;
  text-align: center;
  position: relative;
  top: 7%;
}

#reset{
  margin-left: 10px;
}

#replay{
  transform: translate(50%);
  margin-top: 10px;
}

.btn{
  cursor: pointer;
  height: 40px;
  width: 112px;
  border: 1px solid black;
  border-radius: 6px;
  background-color: #1e2843;
  color: white;
  font-size: 15px;
  text-align: center;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  transition: all 0.3s ease-in-out;
  font-family: 'Poppins', sans-serif;
}

.btn:hover{
  background-color: #1a2b5c;
}

.btn:disabled{
  background-color: rgba(0, 0, 0, 0.6);
}

.cross2{
  transform: rotate(-45deg);
  position: absolute;
  left: calc(50% - 1px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease-in-out;
}

.cross{
  transform: rotate(45deg);
  position: absolute;
  left: calc(50% - 1px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease-in-out;
}

.fix-cross{
  transform: rotate(45deg);
  position: absolute;
  left: calc(50% - 1px);
  color: rgb(0, 0, 0);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2px;
  height: 45px;
  background-color: black;
}

.fix-cross2{
  transform: rotate(-45deg);
  position: absolute;
  left: calc(50% - 1px);
  color: rgba(0, 0, 0,0.7);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2px;
  height: 45px;
  background-color: black;
}
