*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
}

body{
  background: #9db9d136;
  height: 100vh;
}

.heading{
  font-family: 'Poppins', sans-serif;
  width: 300px;
  display: flex;
  justify-content: space-around;
  font-size: 2.5em;
  border-bottom: 2px solid black;
}

.heading span{
  position: relative;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.result {
  width: 100%;
  height: 50px;
  color: #1a2b5c;
  font-size: 2.4rem;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  width: 300px;
  height: 350px;
  border: 1px solid #000;
  background-color: #f0f3f5;
  margin: auto;
  top: 25px;
}

#restart{
  display: none;
  z-index: 120;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 56px);
}

.boxes{
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  margin: auto;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  font-size: 2rem;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
}

.btn-container{
  display: grid;
  grid-template-columns: 112px 112px;
  margin: 10px auto;
  width: 234px;
  text-align: center;
}

#reset{
  margin-left: 10px;
}

#replay{
  transform: translate(50%);
  margin-top: 10px;
}

.btn{
  cursor: pointer;
  height: 40px;
  width: 112px;
  border: 1px solid black;
  border-radius: 6px;
  background-color: #1e2843;
  color: white;
  font-size: 15px;
  text-align: center;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  transition: all 0.3s ease-in-out;
  font-family: 'Poppins', sans-serif;
}

.btn:hover{
  background-color: #1a2b5c;
}

.btn:disabled{
  background-color: rgba(0, 0, 0, 0.6);
}

.cross2{
  transform: rotate(-45deg);
  position: absolute;
  left: calc(50% - 1px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease-in-out;
}

.cross{
  transform: rotate(45deg);
  position: absolute;
  left: calc(50% - 1px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease-in-out;
}

.fix-cross{
  transform: rotate(45deg);
  position: absolute;
  left: calc(50% - 1px);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2px;
  height: 45px;
  background-color: black;
}

.fix-cross2{
  transform: rotate(-45deg);
  position: absolute;
  left: calc(50% - 1px);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2px;
  height: 45px;
  background-color: black;
}

.comp-cross{
  background-color: #f75a3f;
}

.game-cross{
  position: absolute;
  top: 0px;
  left: calc(50% - 1px);
  transform: rotate(45deg);
  width: 2px;
  height: 45px;
  background-color: black;
}

.game-cross2 {
  position: absolute;
  top: 0px;
  left: calc(50% - 1px);
  transform: rotate(-45deg);
  width: 2px;
  height: 45px;
  background-color: black;
}

.footer{
  display: inline;
  position: absolute;
  bottom: 2px;
  font-size: 30px;
  left: calc(50% - 40px);
}

.footer a {
  color: black;
  margin: 0px 5px;
  text-decoration: none;
}
